{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}


<script src="http://static.ampa.systemadmin.es/js/tinymce/tinymce.min.js"></script>


<script type="text/javascript">
tinymce.init({
    selector: '#id_html_message',
    language: 'ca',
    menubar: false,
    plugins: "link image code lists",
    toolbar: 'styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | link | undo redo | code',
    height: '300'
});
</script>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        {% if is_new %}
        <button class="btn btn-success" type="submit" name="guardar" >guardar</button>
        {% else %}
        <div class="float-right">
            <button class="btn btn-success" type="submit" name="guardar" >guardar canvis issue</button>
        </div>
        {% endif %}
    </form>
</div>

{% if not is_new %}
<form style="display: inline;" action="{% url 'peticions.add.comment' issue_id=issue_instance.id %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> comentari</button>
</form>
{% endif %}


<br><br><hr>

<ul class="timeline">
{% for comment in issue_instance.comments.all %}
    {% if not comment.internal or comment.user == user %}
    <li>
        <p class="float-right">{{ comment.updated_at | naturaltime }}</p>
        <p>{{ comment.user }} </p>
        <p>{{ comment.html_message | safe }}</p>
        <hr>
    </li>
    {% else %}
        {% if owner_view %}
        <li class="text-muted">
            <p class="float-right">{{ comment.updated_at | naturaltime }}</p>
            <p>{{ comment.user }} </p>
            <p>{{ comment.html_message | safe }}</p>
            <hr>
        </li>        
        {% endif %}
    {% endif %}
    
{% endfor %}
</ul>


{% endblock %}