{% load humanize %}
{% load list_to_badge %}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>Titol</th>
        {% if config.likable_issues %}
        <th></th>
        {% endif %}
        <th>publicada</th>
        <th>Estat de la petició</th>
        <th>Categories</th>
        <th>Juntes</th>
        <th>Autor</th>
        <th>Comentaris</th>
        <th>Última modificació</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for issue in list_issues %}
        <tr>
          <td>
            <a href="{% url 'peticions.edit.issue' issue_id=issue.id %}">{{ issue.titol }}</a>
            {% if user_admin %}
            - <a href="{% url 'peticions.show.issue' issue_id=issue.id %}">preview</a>
            {% endif %}
          </td>
          {% if config.likable_issues %}
          <td>{{ issue.likes.count }} <i style="color:green;" class="far fa-thumbs-up"></i> / {{ issue.dislikes.count }} <i style="color:red;" class="far fa-thumbs-down"></i></td>
          {% endif %}
          <td>{{ issue.public|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          <td>{{ issue.get_status_display }}</td>
          <td>
              <!-- {{ issue.display_categories }} -->
              {{ "info"|list_to_badge:issue.categories.all }}
          </td>
          <td>{{ issue.display_juntes }}</td>
          {% if issue.representant %}
          <td>{{ issue.representant }}</td>
          {% else %}
          <td>{{ issue.owner }}</td>
          {% endif %}
          <td>{{ issue.comments.count }}</td>
          <td>{{ issue.display_updated | naturaltime }}</td>
          <td>
            {% if user_admin %}
            <form style="display: inline;" action="{% url 'peticions.delete.issue' issue_id=issue.id %}" method="GET">
              <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
            </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



  {% if list_issues.has_other_pages %}
  <hr/>
  <ul class="pagination d-flex justify-content-center">
    {% if list_issues.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ list_issues.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in list_issues.paginator.page_range %}
      {% if list_issues.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if list_issues.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ list_issues.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}