{% load humanize %}

<ul class="timeline">

    <div class="float-right">
    <p>Creada: {{ issue_instance.created_at | naturaltime }} - Actualitzada: {{ issue_instance.updated_at | naturaltime }}</p>
    ({{ issue_instance.likes.count }}) <form style="display: inline" action="{% url 'peticions.like.issue' issue_id=issue_instance.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-success" type="submit"><i class="far fa-thumbs-up"></i></button>
    </form>
    ({{ issue_instance.dislikes.count }}) <form style="display: inline" action="{% url 'peticions.dislike.issue' issue_id=issue_instance.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit"><i class="far fa-thumbs-down"></i></button>
    </form>
    </div>
    
    <h1>{{ issue_instance.titol }}</h1>
    <p>{{ issue_instance.owner }}</p>

    {{ issue_instance.html_message | safe}}

    {% if issue_instance.status != 'z' %}
    <form style="display: inline;" action="{% url 'peticions.add.comment' issue_id=issue_instance.id %}" method="GET">
        <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> comentari</button>
    </form>
    {% endif %}
    <br><br><hr>


{% for comment in issue_instance.comments.all %}
    {% if not comment.internal or comment.user == user or user_admin %}
    {% if comment.internal %}
    <li class="text-muted">
    {% else %}
    <li>
    {% endif %}
        <p class="float-right">{{ comment.created_at | naturaltime }}</p>
        {% if comment.ampa %}
        <p>AMPA</p>
        {% else %}
        <p>{{ comment.user }}</p>
        {% endif %}
        <p>{{ comment.html_message | safe }}</p>
        <hr>
    </li>
    {% endif %}
{% endfor %}
</ul>