{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<form style="display: inline;" action="{% url 'peticions.filter.issues' %}" method="GET">
  <button class="float-left btn btn-primary" style="margin: 3px;" type="submit"><i class="fas fa-filter"></i></button>
</form>

{% if user_admin %}

{% if issue_status %}
<form style="display: inline;" action="{% url 'peticions.list.issues' %}" method="GET">
  <button class="float-left btn btn-danger" style="margin: 3px;" type="submit"><i class="far fa-trash-alt"></i> eliminar filtre</i></button>
</form>
{% endif %}

<div class="float-right">
  <form style="display: inline;" action="{% url 'peticions.forward.open' %}" method="GET">
    <button class="float-left btn btn-warning" style="margin: 3px;" type="submit"><i class="fas fa-angle-double-right"></i> progresar a junta</button>
  </form>
  <form style="display: inline;" action="{% url 'peticions.list.representants' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-list-ul"></i> representants</button>
  </form>
  <form style="display: inline;" action="{% url 'peticions.list.categories' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-list-ul"></i> categories</button>
  </form>
</div>
{% endif %}

{% include 'peticions/issues/inline_list.html' %}

{% if not public %}
<form style="display: inline;" action="{% url 'peticions.add.issue' %}" method="GET">
  <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> petició</button>
</form>
{% endif %}

{% endblock %}