{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

{% if user_admin %}
<div class="float-right">
  <form style="display: inline;" action="{% url 'peticions.list.categories' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-search"></i> categories</button>
  </form>
</div>
{% endif %}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>Titol</th>
        <th></th>
        <th>Estat de la petició</th>
        <th>Categories</th>
        <th>Autor</th>
        <th>Última modificació</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in list_issues %}
        <tr>
          <td>
            {% if user_admin %}
            <form style="display: inline;" action="{% url 'peticions.delete.issue' issue_id=issue.id %}" method="GET">
              <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
            </form>
            {% endif %}
            <a href="{% url 'peticions.edit.issue' issue_id=issue.id %}">{{ issue.titol }}</a>
            {% if user_admin %}
            - <a href="{% url 'peticions.show.issue' issue_id=issue.id %}">preview</a>
            {% endif %}
          </td>
          <td>{{ issue.likes.count }} <i style="color:green;" class="far fa-thumbs-up"></i> / {{ issue.dislikes.count }} <i style="color:red;" class="far fa-thumbs-down"></i></td>
          <td>{{ issue.get_status_display }}</td>
          <td>{{ issue.display_categories }}</td>
          <td>{{ issue.owner }}</td>
          <td>{{ issue.updated_at | naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if not public %}
  <form style="display: inline;" action="{% url 'peticions.add.issue' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> petició</button>
  </form>
  {% endif %}

{% endblock %}