{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<ul class="timeline">


    <p class="float-right">{{ issue_instance.updated_at | naturaltime }}</p>
    <h1>{{ issue_instance.titol }}</h1>

    {{ issue_instance.html_message | safe}}

    <form style="display: inline;" action="{% url 'peticions.add.comment' issue_id=issue_instance.id %}" method="GET">
        <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> comentari</button>
    </form>
    <br><br><hr>


{% for comment in issue_instance.comments.all %}
    {% if not comment.internal or comment.user == user or user_admin %}
    {% if comment.internal %}
    <li class="text-muted">
    {% else %}
    <li>
    {% endif %}
        <p class="float-right">{{ comment.updated_at | naturaltime }}</p>
        <p>{{ comment.user }} </p>
        <p>{{ comment.html_message | safe }}</p>
        <hr>
    </li>
    {% endif %}
{% endfor %}
</ul>


{% endblock %}