{% extends 'base.html' %}

{% load static %}
{% load set_protocol %}

{% block content %}


<script src="{{ 'http://static.ampa.systemadmin.es/js/tinymce/tinymce.min.js'| set_protocol }}"></script>


<script type="text/javascript">
tinymce.init({
    selector: '#id_html_message',
    language: 'ca',
    menubar: false,
    plugins: "link image code lists",
    toolbar: 'styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | link image | undo redo | code',
    height: '600',
    image_list: [
    {% for filename, static_url in image_hash.items %}
        {title: '{{ filename }}', value: '{{ static_url }}'},
    {% endfor %}
    ]
});

</script>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if attachment_hash %}
        Adjunts:
        <ul>
            {% for filename, static_url in attachment_hash.items %}
            <li><a href="{{ static_url }}">{{ filename }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <button class="btn btn-success" type="submit" name="guardar" >guardar</button>
        <button class="btn btn-info" type="submit" name="adjunts" >gestionar adjunts</button>
    </form>
</div>

{% endblock %}