{% extends 'base.html' %}

{% load static %}

{% block content %}


<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>


<script type="text/javascript">
tinymce.init({
    selector: '#id_html_message',
    language: 'ca',
    menubar: false,
    plugins: "link image code",
    toolbar: 'styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image | undo redo | code',
    height: '600',
    image_list: [
    {% for attach in instance_mailing.attachments.all %}
        {title: '{{ attach.filename }}', value: '{{ attach.url }}'},
    {% endfor %}
    ]
});

</script>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">guardar</button>
    </form>
</div>

{% endblock %}