{% extends 'base.html' %}

{% load static %}
{% load set_protocol %}

{% block content %}


<script src="{{ 'http://static.ampa.systemadmin.es/js/tinymce/tinymce.min.js'|set_protocol }}"></script>


<script type="text/javascript">
tinymce.init({
    selector: '#id_html_message',
    language: 'ca',
    menubar: false,
    plugins: "link image code lists",
    relative_urls : false,
    remove_script_host : false,
    toolbar: 'styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | link | undo redo | code',
    height: '300'
});

</script>

<a href="{% url 'peticions.edit.issue' issue_id=issue_id %}"><i class="fas fa-backward"></i> Tornar a petició</a>

<form style="display: inline;" action="{% url 'peticions.delete.comment' issue_id=comment_instance.issue.id comment_id=comment_instance.id %}" method="GET">
    <button style="margin: 3px;" class="float-right btn btn-danger" type="submit">eliminar comentari</button>
</form>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-success" type="submit" name="guardar" >guardar</button>
    </form>
</div>

{% endblock %}