{% extends 'base.html' %}

{% load static %}

{% block content %}

Estas segur que vols tancar aquesta enquesta?
<br>

{% include 'voting/elections/inline_preview.html' %}

<br>
<br>
<form style="display: inline" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-danger" type="submit">Tancar votació</button>
</form>
<form style="display: inline" action="{% url 'voting.list.elections' %}" method="GET">
    <button class="btn btn-info" type="submit">Cancelar</button>
  </form>
{% endblock %}