{% extends 'voting/base.html' %}

{% load static %}

{% block content %}

<!-- VOTAREM -->

<br>

<div class="card text-center">
  <div class="card-header">
    <h1>Vot enregistrat</h1>
  </div>
  <div class="card-body"></div>

  <h2>{{ election_instance.titol }}</h2>

  {{ election_instance.html_message | safe }}

  <ul>
  {% for vote in votes %}
    {% if vote.option %}
    <li>{{ vote.option.text }}</li>
    {% else %}
    <li>Vot en blanc</li>
    {% endif %}
  {% endfor %}
  </ul>

  Sistema de registre:
    <ul>
    {% for vote in votes %}
      <li>vid: {{ vote.id }}</li>
      {% if vote.option %}
      <li>oid: {{ vote.option.id }}</li>
      {% else %}
      <li>Vot en blanc</li>
      {% endif %}
      <li>lid: {{ vote.election_log.id }}</li>
    {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}