{% extends 'voting/base.html' %}

{% load static %}

{% block content %}

<!-- VOTAREM -->

<br>

<div class="card text-center">
  <div class="card-header">
    <h1>Vot enregistrat</h1>
  </div>
  <div class="card-body"></div>

  <h2>{{ election_instance.titol }}</h2>

  {{ election_instance.html_message | safe }}

  <ul>
  {% for vote in votes %}
    {% if vote.option %}
    <li>{{ vote.option.text }}</li>
    {% else %}
    <li>Vot en blanc</li>
    {% endif %}
  {% endfor %}
  </ul>

  <div style="display: inline-block; text-align: left;">
    <b>Sistema de registre:</b>
      {% for vote in votes %}
        <p>vid: {{ vote.id }} {% if vote.option %}oid: {{ vote.option.id }}{% else %}Vot en blanc{% endif %} lid: {{ vote.election_log.id }}</p>
      {% endfor %}
  </div>

  </div>
</div>

{% endblock %}