{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'mailing/show.html' %}

<b>Enviar</b>
Estas segur que vols programar l'enviament per tot el curs {{ instance_curs.curs }}? 

{% if instance_mailing.nomes_delegats %}
<h2 class="text-danger">Aquest email serà enviat a tots els pares de la classe.</h2>
{% else %}
<h2 class="text-danger">Aquest email serà enviat a tots els pares</h2>
{% endif %}

<form style="display: inline" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">enviar</button>
</form>
<form style="display: inline" action="{% url 'edit.curs.mailing' curs_id=instance_curs.id mailing_id=instance_mailing.id %}" method="GET">
    <button class="btn btn-danger" type="submit">cancelar</button>
  </form>
{% endblock %}