{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Última modificació</th>
      </tr>
    </thead>
    <tbody>
      {% for template in list_templates %}
        <tr>
          <td>
            {{ template.filename }}
          </td>
          <td>
            {{ template.updated_at }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form style="display: inline;" action="{% url 'peticions.add.template' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> plantilla</button>
  </form>

{% endblock %}