{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>{{ instance_classe.nom }}</h1>
{{ instance_classe.curs }}

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="tab-modules" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2>Exportar dades</h2>
        Estas segur que vols procedir?
        <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info" type="submit">exportar</button>
        </form>
    </div>
</div>
{% endblock %}