{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if alumne_id %}
<h1><a href="{% url 'show.classe' classe_id=classe_id %}">{{ alumne_instance.classe.nom }}</a> / {{ alumne_instance.print_name }}</h1>

<form style="display: inline;" action="{% url 'delete.alumne' classe_id=classe_id alumne_id=alumne_id %}" method="GET">
    <button class="float-right btn btn-danger" type="submit">eliminar alumne</button>
</form>

{% else %}
<h1><a href="{% url 'show.classe' classe_id=classe_id %}">{{ alumne_instance.classe.nom }}</a> / afegir alumne</h1>
Aquesta opció es per afegir manualment un alumne a la classe
{% endif %}

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">guardar</button>
    </form>
</div>

{% endblock %}