{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="float-right">
    {% if admin %}
        <a href="{% url 'list.classes' %}">veure com usuari</a>
    {% else %}
        <a href="{% url 'list.classes' %}?admin=1">veure com admin</a>
    {% endif %}
</div>

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>classe</th>
        <th>curs</th>
      </tr>
    </thead>
    <tbody>
      {% for classe in list_classes.all %}
        <tr>
          <td><a href="{% url 'show.classe' classe_id=classe.id %}">{{ classe.nom }}</a></td>
          <td>{{ classe.curs }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form style="display: inline;" action="{% url 'add.classe' %}" method="GET">
    <button class="float-left btn btn-info" type="submit"><i class="fas fa-plus"></i> classe</button>
  </form>

{% endblock %}