{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

{% if instance_classe.is_procesant %}

{% if instance_classe.is_upload_error %}

<center>
  <h1>{{ instance_classe.nom }} <a href="{% url 'edit.classe' classe_id=instance_classe.id %}"><i class="far fa-edit"></i></a></h1>
  {{ instance_classe.curs }}
  <h2>Error procesant fitxer excel</h2>
  Si us plau, avisa del problema
  </center>
  

{% else %}

<center>
<h1>procesant...</h1>
</center>

<input type="hidden" id="refresh_interval_ms" name="refresh_interval_ms" value="10000">

<script>
    setTimeout(function() {
  location.reload();
}, document.getElementById("refresh_interval_ms").value);
</script>

{% endif %}

{% else %}

  {% if not instance_classe.ready_to_send and instance_classe.alumnes.count != 0 and not instance_classe.ultim_email %}
  <form style="display: inline;" action="{% url 'send.cessio.dades.email' classe_id=instance_classe.id %}" method="GET">
    <button class="float-right btn btn-warning" style="margin: 3px;" type="submit">enviar formulari de cessió dades</button>
  </form>
  {% endif %}

  <form style="display: inline;" action="{% url 'exportar.xls' classe_id=instance_classe.id %}" method="GET">
    <button class="float-right btn btn-info" style="margin: 3px;" type="submit">exportar Excel</button>
  </form>

<h1>{{ instance_classe.nom }} <a href="{% url 'edit.classe' classe_id=instance_classe.id %}"><i class="far fa-edit"></i></a></h1>
{{ instance_classe.curs }}

{% if instance_classe.latest_export and not instance_classe.waiting_export %}
<ul>
  <li><a href="{% url 'get.classe.export' classe_id=instance_classe.id export_name=instance_classe.latest_export%}">Descarregar fitxer exportació</a></li>
</ul>
{% endif %}

{% include 'classes/inline_nav.html' %}

{% if content == 'overview' %}
  {% include 'classes/inline_show.html' %}

  <form style="display: inline" action="{% url 'add.alumne' classe_id=instance_classe.id %}" method="GET">
    <button class="float-left btn btn-info" type="submit"><i class="fas fa-plus"></i> alumne</button>
  </form>

  <form style="display: inline" action="{% url 'add.classe.search.alumne' classe_id=instance_classe.id %}" method="GET">
    <button style="margin-left: 6px;" class="float-left btn btn-info" type="submit"><i class="fas fa-search"></i> alumne</button>
  </form>
{% elif content == 'mailing' %}
  {% include 'mailing/classes/inline_list.html' %}

  <form style="display: inline" action="{% url 'nou.classe.mailing' classe_id=instance_classe.id %}" method="GET">
    <button class="float-left btn btn-info" type="submit"><i class="fas fa-plus"></i> nova comunicació</button>
  </form>
{% endif %}

{% endif %}

{% endblock %}