{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if instance_classe.is_procesant %}

{% if instance_classe.is_upload_error %}

<center>
  <h1>{{ instance_classe.nom }} <a href="{% url 'edit.classe' classe_id=instance_classe.id %}"><i class="far fa-edit"></i></a></h1>
  {{ instance_classe.curs }}
  <h2>Error procesant fitxer excel</h2>
  Si us plau, avisa del problema
  <!-- <img src="{% static 'img/bored_kid.gif' %}"> -->
  </center>
  

{% else %}

<center>
<h1>procesant...</h1>
<!-- <img src="{% static 'img/bored_kid.gif' %}"> -->
</center>

<input type="hidden" id="refresh_interval_ms" name="refresh_interval_ms" value="10000">

<script>
    setTimeout(function() {
  location.reload();
}, document.getElementById("refresh_interval_ms").value);
</script>

{% endif %}

{% else %}

  {% if not instance_classe.ready_to_send and instance_classe.alumnes.count != 0 and not instance_classe.ultim_email %}
  <form style="display: inline;" action="{% url 'send.email' classe_id=instance_classe.id %}" method="GET">
    <button class="float-right btn btn-warning" type="submit">enviar email</button>
  </form>
  {% endif %}

  <form style="display: inline;" action="{% url 'exportar.xls' classe_id=instance_classe.id %}" method="GET">
    <button class="float-right btn btn-info" type="submit">exportar Excel</button>
  </form>

<h1>{{ instance_classe.nom }} <a href="{% url 'edit.classe' classe_id=instance_classe.id %}"><i class="far fa-edit"></i></a></h1>
{{ instance_classe.curs }}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>número llista</th>
        <th>nom</th>
        <th>Tutor 1</th>
        <th>Tutor 2</th>
        <th>Validat</th>
      </tr>
    </thead>
    <tbody>
      {% for alumne in instance_classe.alumnes.all %}
        <tr>
          <td><a href="{% url 'edit.alumne' classe_id=instance_classe.id alumne_id=alumne.id %}">{{ alumne.num_llista }}</a></td>
          <td><a href="{% url 'form.pares.edit.alumne' alumne_id=alumne.id %}">{{ alumne.print_name }}</a></td>
          <td>{{ alumne.tutor1_cessio|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          <td>{{ alumne.tutor2_cessio|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          <td>{{ alumne.validat|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<form style="display: inline" action="{% url 'add.alumne' classe_id=instance_classe.id %}" method="GET">
  <button class="float-left btn btn-info" type="submit"><i class="fas fa-plus"></i> alumne</button>
</form>

{% endblock %}