{% extends 'base.html' %}

{% load static %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <ul>

    <li>
        <label for="classe">Classe</label>
        <input type="text" name="classe" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autocomplete="classe" autofocus="autofocus" />
    </li>
    <li>
        <label for="classe">curs</label>
        <input type="text" name="curs" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autocomplete="curs" autofocus="autofocus" />
    </li>

    <li>
        <label for="xlsfile">Llista de classe</label>
        <input type="file" name="xlsfile">
    </li>

    </ul>

    <hr>

    <button class="btn btn-info" type="submit" name="guardar" >Upload</button>
  </form>


{% endblock %}