{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1><a href="{% url 'show.classe' classe_id=instance_classe.id %}">{{ instance_classe.nom }}</a></h1>
{{ instance_classe.curs }}

{% if instance_classe.waiting_export %}

<center>
    <h2>procesant exportació de dades</h2>
    <!-- <img src="{% static 'img/bored_kid.gif' %}"> -->
    </center>
    
    <input type="hidden" id="refresh_interval_ms" name="refresh_interval_ms" value="10000">
    
    <script>
        setTimeout(function() {
      location.reload();
    }, document.getElementById("refresh_interval_ms").value);
    </script>

{% else %}

<ul>
    <li>Descarregar <a href="{% url 'get.classe.export' classe_id=instance_classe.id export_name=instance_classe.latest_export%}">fitxer Excel</a></li>
</ul>

{% endif %}

{% endblock %}