{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<a href="{% url 'peticions.list.issues' %}"><i class="fas fa-backward"></i> Peticions</a>

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      {% for category in list_categories %}
        <tr>
          <td><a href="{% url 'peticions.edit.category' category_id=category.id %}">{{ category.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form style="display: inline;" action="{% url 'peticions.add.category' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> categoria</button>
  </form>

{% endblock %}