{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
#id_text {
    width: 100%;
}
</style>

<a href="{% url 'list.users' %}"><i class="fas fa-backward"></i> Llista d'usuaris</a>

<form style="display: inline;" action="% url 'peticions.delete.category' category_id=category_instance.id  %" method="GET">
    <button style="margin: 3px;" class="float-right btn btn-danger" type="submit">eliminar usuari</button>
</form>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <br>
        <button class="btn btn-primary" type="submit">guardar</button>
    </form>
</div>

{% endblock %}