{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
#id_text {
    width: 100%;
}
</style>

<a href="{% url 'list.users' %}"><i class="fas fa-backward"></i> Llista d'usuaris</a>

<form style="display: inline;" action="{% url 'switch.user' user_slug=user_instance.slug  %}" method="GET">
    <button style="margin: 3px;" class="float-right btn btn-warning" type="submit">login</button>
</form>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <ul>
            <li><a href="{% url 'staff.user.password.change' user_slug=user_instance.slug %}">Canviar contrasenya</a></li>
        </ul>

        <br>
        <button class="btn btn-primary" type="submit">guardar</button>
    </form>
</div>

{% endblock %}