{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

{% if user_admin %}
<div class="float-right">
  <form style="display: inline;" action="{% url 'peticions.list.representants' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-search"></i> representants</button>
  </form>
  <form style="display: inline;" action="{% url 'peticions.list.categories' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-search"></i> categories</button>
  </form>
</div>
{% endif %}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Usuari</th>
        <th>representant</th>
        <th>bloquejat</th>
        <th>password per defecte</th>
      </tr>
    </thead>
    <tbody>
      {% for user in list_users %}
        <tr>
          {% if user.is_colegi %}
          <td>{{ user.is_staff|yesno:"<p style=\"color:red\"><i class=\"fas fa-school\"></i></p>,<p style=\"color:blue\"><i class=\"fas fa-school\"></i></p>" | safe }}</td>
          {% else %}
          <td>{{ user.is_staff|yesno:"<p style=\"color:orange\"><i class=\"fas fa-bolt\"></i></p>,<p style=\"color:green\"><i class=\"fas fa-user\"></i></p>" | safe }}</td>
          {% endif %}
          {% if user.name %}
          <td><a href="{% url 'edit.user' user_slug=user.slug %}">{{ user.name }}</a> / <a href="{% url 'edit.user' user_slug=user.slug %}">{{ user.email }}</a></td>
          {% else %}
          <td><a href="{% url 'edit.user' user_slug=user.slug %}">{{ user.email }}</a></td>
          {% endif %}
          <!-- <td>{{ user.is_colegi|yesno:"<p style=\"color:orange\"><i class=\"fas fa-school\"></i></p>,<p style=\"color:green\"><i class=\"fas fa-users\"></i></p>" | safe }}</td> -->
          <td>{{ user.representant|default_if_none:"" }}</td>
          <td>{{ user.is_locked|yesno:"<p style=\"color:red\"><i class=\"fas fa-skull-crossbones\"></i></p>,<p style=\"color:green\"><i class=\"fas fa-lock-open\"></i></p>" | safe }}</td>
          {% if user.is_locked %}
          <td>{{ user.is_default_password|yesno:"<p style=\"color:red\"><i class=\"fas fa-book-dead\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          {% else %}
          <td>{{ user.is_default_password|yesno:"<p style=\"color:orange\"><i class=\"fas fa-book-dead\"></i></p>,<p style=\"color:green\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          {% endif %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}