{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if classe_id %}
{% if classe_instance.nom %}
<h1><a href="{% url 'show.classe' classe_id=classe_id %}">{{ classe_instance.nom }}</a> / {{ action }} classe</h1>
{% else %}
<h1>{{ action }} <a href="{% url 'show.classe' classe_id=classe_id %}">{{ classe_nom_was }}</a> a nou curs</h1>
{% endif %}
{% else %}
<h1>afegir classe</h1>
Aquesta opció es per afegir manualment una classe en cas que la importació desde el fitxer excel no funcioni
{% endif %}

{% if classe_instance.nom %}
<form style="display: inline;" action="{% url 'delete.classe' classe_id=classe_id %}" method="GET">
    <button class="float-right btn btn-danger" type="submit">eliminar classe</button>
  </form>
{% endif %}

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">guardar</button>
    </form>
</div>

{% endblock %}