
{% if instance_classe.alumnes.all %}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>nom</th>
        <th>Tutor 1</th>
        <th>Tutor 2</th>
        <th>Validat</th>
      </tr>
    </thead>
    <tbody>
      {% for alumne in instance_classe.alumnes.all %}
        <tr>
          <td>
            <form action="{% url 'edit.alumne' classe_id=instance_classe.id alumne_id=alumne.id %}" method="GET">
              <button style="margin-right: 10px;" class="float-left btn btn-info" type="submit"><i class="fas fa-edit"></i></button>
            </form>   
            <a href="{% url 'form.pares.edit.alumne' alumne_id=alumne.id %}">{{ alumne.print_name }}</a>
          </td>
          <td>{{ alumne.tutor1_cessio|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          <td>{{ alumne.tutor2_cessio|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          <td>{{ alumne.validat|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

<br><br>

<center>
  <form style="display: inline-block; text-align: center;" action="{% url 'upload.classe.xls' classe_id=instance_classe.id %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-file-import"></i> XLS</button>
  </form>
</center>

<br><br><br><br>

{% endif %}