<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Etapa</th>
        <th>Curs</th>
        {% if admin_view %}
        <th>Delegat</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for classe in list_classes.all %}
        <tr>
          <td>
              <a href="{% url 'show.classe' classe_id=classe.id %}">{{ classe.full_nom }}</a>
            </td>
          <td>{{ classe.etapa }}</td>
          <td>{{ classe.curs }}</td>
          {% if admin_view %}
          {% if classe.delegat %}
          <td>{{ classe.delegat }}</td>
          {% else %}
          -
          {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>