{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="float-right">
    {% if user_admin %}
      {% if admin_view %}
          <a href="{% url 'list.classes' %}?admin=0">veure com usuari</a>
      {% else %}
          <a href="{% url 'list.classes' %}?admin=1">veure com admin</a>
      {% endif %}
    {% endif %}
</div>

{% include 'classes/inline_list.html' %}

  <form style="display: inline;" action="{% url 'add.classe' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> classe</button>
  </form>

{% endblock %}