{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Accions disponibles</h1>
<br>

<h2>Entitat</h2>
<ul>
    <li><a href="{% url 'edit.entitat' %}">Configuració de l'entitat</a></li>
    <li><a href="{% url 'upload.logo.entitat' %}">Canviar logo de l'entitat</a></li>
</ul>

<h2>Usuaris</h2>
<ul>
    <li><a href="{% url 'signup' %}">Crear usuari</a></li>
    <li><a href="{% url 'list.users' %}">Llistat d'usuaris</a></li>
    <li><a href="{% url 'reset.password.all.users' %}">Reset passwords</a></li>
</ul>

<h2>Alumnes</h2>
<ul>
    <li><a href="{% url 'alumne.search' %}">Buscar Alumne per nom</a></li>
    <li><a href="{% url 'alumne.search.by.phone' %}">Buscar Alumne per telefon associat</a></li>
    <li><a href="{% url 'alumne.search.by.phone' %}">Buscar Alumne per telefon associat</a></li>
</ul>

<h2>Configuració enviament</h2>
<ul>
    <li><a href="{% url 'reset.proteccio.dades' %}">Eliminar configuració d'usuaris</a></li>    
</ul>

<h2>Cursos</h2>
<ul>
    <li><a href="{% url 'list.cursos' %}">Llistat complet de cursos</a></li>
</ul>


{% include 'cursos/inline_list.html' %}

<form style="display: inline;" action="{% url 'add.curs' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> curs</button>
</form>
<form style="display: inline;" action="{% url 'add.modalitat' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> modalitat</button>
</form>


<br><br><br>


<h2>Etapes</h2>

{% include 'etapes/inline_list.html' %}

{% endblock %}