{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<a href="{% url 'peticions.list.issues' %}"><i class="fas fa-backward"></i> Peticions</a>

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th>Representant</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for representant in list_representants %}
        <tr>
          <td>
            <a href="{% url 'peticions.edit.representant' representant_id=representant.id %}">{{ representant.name }}</a>
          </td>
          <td>
            <form style="display: inline;" action="{% url 'peticions.delete.representant' representant_id=representant.id  %}" method="GET">
              <button class="float-right btn btn-danger" type="submit"><i class="far fa-trash-alt"></i></button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form style="display: inline;" action="{% url 'peticions.add.representant' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> representant</button>
  </form>

{% endblock %}