{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load set_protocol %}
{% load crispy_forms_tags %}
{% load issues_filter_by_category %}

{% block content %}


<script src="{{ 'http://static.ampa.systemadmin.es/js/tinymce/tinymce.min.js'|set_protocol }}"></script>


<script type="text/javascript">
tinymce.init({
    selector: '#id_html_message',
    language: 'ca',
    menubar: false,
    plugins: "link image code lists",
    relative_urls : false,
    remove_script_host : false,
    toolbar: 'styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | link | undo redo | code',
    height: '600'
});
</script>

<a href="{% url 'peticions.list.juntes' %}"><i class="fas fa-backward"></i> juntes</a>

<form style="display: inline;" action="{% url 'peticions.delete.junta' junta_id=junta_instance.id %}" method="GET">
    <button class="float-right btn btn-danger" style="margin: 3px;" type="submit">eliminar junta</button>
</form>

<div class="py-4 px-4 px-md-3 px-lg-4">
    <form class="home-hero-signup text-gray-dark js-signup-form js-signup-form-submit" method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <br>
        <button class="btn btn-success" type="submit" name="guardar" ><i class="far fa-save"></i> guardar</button>
        <button class="btn btn-info" type="submit" name="queixarem" ><i class="fas fa-th-list"></i> gestionar peticions</button>
        <button class="btn btn-info" type="submit" name="votarem" disabled><i class="fas fa-vote-yea"></i> gestionar votacions</button>
        <button class="btn btn-info" type="submit" name="pudor"><i class="fas fa-align-left"></i> edita peu</button>
        <button class="btn btn-info" type="submit" name="tancar"><i class="far fa-envelope"></i> tancar</button>
        <button class="btn btn-info" type="submit" name="veure"><i class="fas fa-file-alt"></i> previsualitza / publica</button>
        <button class="btn btn-info" type="submit" name="presentar"><i class="far fa-eye"></i> presentar</button>
    </form>
</div>


{% if junta_instance.issues.all %}
<h2>General</h2>
<ul>
    {% for issue in junta_instance.uncategorized_issues %}
    <li><a href="{% url 'peticions.edit.issue' issue_id=issue.id %}" target="_blank">{{ issue.titol }}</a>
        
        {% for label in issue.categories.all %}
            <span class="badge badge-info">{{ label }}</span>
        {% endfor %}
        
    </li>
    {% endfor %}
    {% for issue in junta_instance.multicategorized_issues %}
    <li><a href="{% url 'peticions.edit.issue' issue_id=issue.id %}" target="_blank">{{ issue.titol }}</a>
        
        {% for label in issue.categories.all %}
            <span class="badge badge-info">{{ label }}</span>
        {% endfor %}
        
    </li>
    {% endfor %}
</ul>
{% endif %}

{% for categoria in junta_instance.categories %}
<h2>{{ categoria }}</h2>
<ul>
    {% for issue in categoria.id|issues_filter_by_category:junta_instance.issues.all %}
    <li><a href="{% url 'peticions.edit.issue' issue_id=issue.id %}" target="_blank">{{ issue.titol }}</a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}