{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<table class="table table-bordred table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Data de celebració</th>
        <th>Publicada</th>
        <th>Última modificació</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for junta in list_juntes %}
        <tr>
          <td><a href="{% url 'peticions.edit.junta' junta_id=junta.id %}">{{ junta.name }}</a></td>
          <td>{{ junta.celebracio }}</td>
          <td>{{ junta.public|yesno:"<p style=\"color:green\"><i class=\"fas fa-check\"></i></p>,<p style=\"color:red\"><i class=\"fas fa-times-circle\"></i></p>" | safe }}</td>
          <td>{{ junta.updated_at | naturaltime }}</td>
          <td>
            <form style="display: inline;" action="{% url 'peticions.delete.junta' junta_id=junta.id %}" method="GET">
              <button class="float-right btn btn-danger" type="submit"><i class="far fa-trash-alt"></i></button>
            </form>          
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if user_admin %}
  <form style="display: inline;" action="{% url 'peticions.add.junta' %}" method="GET">
    <button class="float-left btn btn-info" style="margin: 3px;" type="submit"><i class="fas fa-plus"></i> junta</button>
  </form>
  {% endif %}

{% endblock %}