{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load issues_filter_by_category %}

{% block content %}

<h1>{{ junta_instance.name }}</h1>

{% if user_admin %}

    {% if not junta_instance.public %}
        <form style="display: inline;" action="{% url 'peticions.publish.junta' junta_id=junta_instance.id %}" method="GET">
            <button class="float-right btn btn-success" style="margin: 3px;" type="submit">publicar junta</button>
        </form>
    {% endif %}

{% endif %}

{% include 'peticions/juntes/inline_show.html' %}

{% endblock %}